body{
    background-image: url(pexels-danny-meneses-340146-943096.jpg);
    background-size: cover;
}
h1{
    color: rgb(255, 0, 0);
    margin-bottom: 20px;
}
label{
    color: rgba(128, 255, 10, 0.952);
    font-weight: bold;
    margin-right: 10px;
}
button{
    color: rgb(224, 73, 73);
    background-color: rgba(165, 42, 42, 0.712);
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    bo
}
p{
    color: rgb(0, 255, 13);
}
input{
    padding: 5px;
    font-size:16px;
}